<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>BSc Computer Science</h1>
            <span>University of Portsmouth</span>
            <span><address>Portsmouth, UK</address><time>2006 to 2010</time></span>
        </header>
        <p>
            <em>During my time at university I was chosen as the degree course representative for the full duration.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Mathematics, Computing, Physics and Further Mathematics (A-Level)</h1>
            <span>Alton College</span>
            <span><address>Alton, UK</address><time>2004 to 2006</time></span>
        </header>
    </article>
     <article>
        <header>
            <h1>11 GCSEs A*-C (including Mathematics, English and French)</h1>
            <span>All Hallows RC School</span>
            <span><address>Weybourne, UK</address><time>1993 to 2004</time></span>
        </header>
    </article>

</section>
