<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Principal Kubernetes Consultant</h1>
            <span><address>Apprenda</address><time>September 2016 - March 2018</time></span>
        </header>
        <p>
            During this role Steven has been working as the strategic point of contact for Kubernetes service offerings to Apprenda’s clients worldwide. He has been responsible for:
            • Fundamental in designing/implementing production-ready Kubernetes platforms for his clients.
            • Providing training to clients around Cloud Native Development, CI/CD, Docker and Kubernetes.
            • Leading the construction of Kubernetes platforms (including CI/CD) with his clients.
            • Leading a team of Kubernetes consultants globally using AWS and Azure as well as on-premise.
            • Advising and influencing to executive level personnel within our enterprise client accounts.
            • Contributing to open source tooling (includes Kismatic Enterprise Toolkit).
            • Used tools such as Terraform, Prometheus, Grafana, Fluentd, Helm and Istio with clients.
        </p>
    </article>
    <article>
        <header>
            <h1>Technical Consultant (Contract)</h1>
            <span><address>Parliamentary Digital Service</address><time>March 2015 - August 2016</time></span>
        </header>
        <p>
            Steven was called back by what was previously known at Parliamentary ICT to facilitate a number of new projects and initiatives within the newly formed Digital Service. These are:
            • Leading a team of engineers on the creation of a new AWS platform to host parliament.uk
            • Training the teams to use tools such as Go.cd, Docker, Kubernetes, Terraform and Packer.
            • Mentoring multiple development teams into getting up to speed with Docker as a concept. 
            • Brought in the concept of LDD (Log Driven Development) logging to the ELK stack.
            • Brought in the concept of HCDD (Health Check Driven Development) for application monitoring.
            • Lead the evaluation of the toolsets to use to aid Continuous Delivery to both AWS and Azure.
        </p>
    </article>
    <article>
        <header>
            <h1>Build and Release Engineer (Contract)</h1>
            <span><address>Game Retail Ltd</address><time>December 2014 - March 2015</time></span>
        </header>
        <p>
            During this role Steven was working on the implementation of Continuous Delivery for the clients Windows platforms within VMware vSphere
            using tools such as Artifactory, Chocolatey, TeamCity, Chef, MS Build and ThoughtWorks Go.
        </p>
    </article>
    <article>
        <header>
            <h1>Technical Consultant (Contract)</h1>
            <span><address>Parliamentary ICT</address><time>January 2014 - September 2014</time></span>
        </header>
        <p>
            During this role Steven was working alongside a set of agile development teams that work on a suite of Line of Business internal applications.<br>
            • Implemented a standardised Continuous Integration process on TeamCity.<br>
            • Mentored permanent members of staff on Test Driven Development using NUnit & Moq.<br>
            • Worked alongside Senior Management to facilitate structured integration testing phases.
        </p>
    </article>
    <article>
        <header>
            <h1>Analyst Programmer</h1>
            <span><address>SFW Ltd</address><time>September 2012 - September 2014</time></span>
        </header>
        <p>
            During this role Steven led an Agile team on the enhancement of a suite of applications, ranging from ASP.NET MVC websites to C# console applications. He gained/enhanced skills in:<br>
            • Task prioritisation by developing, testing and team leading at the same time.<br>
            • Customer relations by liaising with the client to understand their requirements.<br>
            • Communication skills by leading a team of developers based in the UK and India.<br>
            • Demonstrated ability to analyse, evaluate, and incorporate changes.<br>
            • Increased technical skills using Entity Framework Code-First approach.<br>
            • Increased test driven development skills (TDD) using NUnit, StructureMap and Moq.<br>
            • Team Foundation Server upgrade 2010 to 2012.
        </p>
    </article>
</section>
