<section class="thirteen columns">
    <h1>Skillset</h1>
    <article>
        <p>
            • Continuous Integration (CI) using Teamcity.<br>
            • Continuous Delivery (CD) using ThoughtWorks Go.cd<br>
            • Continuous Delivery (CD) of Docker containers using Docker Compose, Hub & Swarm.<br>
            • Building machine images using Packer by Hashicorp.<br>
            • Infrastructure as Code using Terraform by Hashicorp.<br>
            • Server provisioning using Chef.<br>
            • Platform engineering on AWS, Azure & VM Ware vSphere.<br>
            • ASP.NET MVC5 development with Web API 2 & Angular JS.<br>
            • Behavioral Driven Development (BDD) using SpecFlow & Selenium WebDriver.<br>
            • Source control management using Git, Subversion & Team Foundation Server 2013/2015.<br>
            • Team leadership, mentoring and customer engagement.<br>
            • Counter Terrorist Check (CTC) cleared.<br>
        </p>
    </article>
</section>