<section class="thirteen columns">
    <h1>Skillset</h1>
    <article>
        <p>
            • Container Orchestration using both Kubernetes and Docker Swarm.<br>
            • Continuous Delivery (CD) of docker containers using Helm.<br>
            • Continuous Integration &  Continuous Delivery (CD) using tools such as ThoughtWorks Go.cd<br>
            • Building machine images using Packer by Hashicorp.<br>
            • Infrastructure as Code using Terraform by Hashicorp.<br>
            • Server provisioning using Chef.<br>
            • Team leadership, mentoring and customer engagement.<br>
            • Confident public speaker.<br>
            • Open source contributor.<br>
            • Counter Terrorist Check (CTC) cleared.
        </p>
    </article>
</section>